.buttons {
    color: transparent;
    background-color: transparent;

}

.image-container {
    height: 90vh;
}

.image_size {
  width: auto;
  height: 100%;
}

.grid-component-container{
  /* background: green; */
  /* padding-top: 10vh; */
  height: 100%;
  width: 65vw;
  margin: auto;
  display: block;
  /* margin-top: 10vh; */
  /* overflow: hidden; */
}


.active {
    background-color: transparent;
}

.caption {
    color: black;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

@media screen and (max-width: 1024px) {
    .image_size {
      margin-top: 20%;
      width: 100%;
      height: auto;
    }
}
