.icon_container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 50%;
}

.icon {
    height: 100px;
    width: 100px;
    margin-left: 25px;
    color: white;
    margin: auto;

}
