body {
  background-color: white;
  /* padding: 20px; */
  margin: 0;
}
h1, h2, p, ul, li {
    font-family: "Franklin Gothic medium", sans-serif !important;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0px;
  width:20%;
}
ul.header {
  color: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
}
ul.header li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  float: right;
  cursor: pointer;
}


.nav {
    background-color: transparent;
    position: absolute;
    width: 100%;
    margin: 0;
    z-index: 9;
}

.link {
    color: white;
    font-size: 1vw;
}

.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099FF;
}
