

.Card {
  width: 60%;
  margin-bottom: 5%;
}

#cardImage {
  width: 100%;
  margin: auto;
  /* display: table-row; */
  border-radius: 7%;
  margin-bottom: 10px;
}

.title {
    font-family: "Franklin Gothic medium", sans-serif !important;
    font-size: 110%;
    color: #4286f4;
    text-align: left;
    display: flex;
    margin: auto;
    padding-left: 20px;
}

.subtitle {
    margin: 0px;
    /* padding-top: 10px; */
    font-size: 110%;
    color: #197ac4;
    text-align:  left;
    padding-left: 20px;
    font-style: italic;

}

.center {
  margin: auto;
  width: 50%;
}

.description {
    display: flex;
    flex-direction: column;
    font-family: "Franklin Gothic medium", sans-serif !important;
    font-size: 110%;
    padding-left: 20px;
    /* padding-top: 10px; */
    margin: auto;
    text-align: left;
    /* color: white; */
    color: white;
    margin-top: 5px;
    /* text-align: justify; */
}


@media screen and (max-width: 1024px) {
    .Card {
        width: 100%;
        margin-bottom: 10%;
    }
}



@media all and (max-width: @breakpoint) {
  .Rtable--collapse  {
    /* display: block; */
    > .Rtable-cell { width: 100% !important; }
    > .Rtable-cell--foot { margin-bottom: 1em; }
  }
}

// Non-Flex modernizer fallback
.no-flexbox .Rtable {
  /* display: block; */
  > .Rtable-cell { width: 100%; }
  > .Rtable-cell--foot { margin-bottom: 1em; }
}


/* Variables
================================== */
/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1em 0;
}

.Rtable-cell {
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  list-style: none;
  /* background: rgba(112, 128, 144, 0.2); */
}
.Rtable-cell > h1,
.Rtable-cell > h2,
.Rtable-cell > h3,
.Rtable-cell > h4,
.Rtable-cell > h5,
.Rtable-cell > h6 {
  margin: 0;
}
/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell {
  width: 50%;
}
.Rtable--3cols > .Rtable-cell {
  width: 33.33%;
}
.Rtable--2-3cols > .Rtable-cell {
  width: 66.67%;
}
.Rtable--4cols > .Rtable-cell {
  width: 25%;
}
.Rtable--5cols > .Rtable-cell {
  width: 20%;
}
.Rtable--6cols > .Rtable-cell {
  width: 16.6%;
}
/* Page styling
================================== */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3aZQNVED7rKGKxtqIqX5EUDXx9.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3FZQNVED7rKGKxtqIqX5Ectllte10k.ttf) format('truetype');
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
strong {
  color: #434d57;
}
/* Apply styles
================================== */
.Rtable {
  position: relative;
  top: 3px;
  left: 3px;
  width: 100%;
}

/* Cell styles
================================== */
.Rtable-cell--dark {
  background-color: slategrey;
  color: white;
}
.Rtable-cell--dark > h1,
.Rtable-cell--dark > h2,
.Rtable-cell--dark > h3,
.Rtable-cell--dark > h4,
.Rtable-cell--dark > h5,
.Rtable-cell--dark > h6 {
  color: white;
}
.Rtable-cell--medium {
  background-color: #b8c0c8;

}
.Rtable-cell--light {
  background-color: white;

}
.Rtable-cell--highlight {
  background-color: lightgreen;
}
.Rtable-cell--alert {
  background-color: darkorange;
  color: white;
}
.Rtable-cell--alert > h1,
.Rtable-cell--alert > h2,
.Rtable-cell--alert > h3,
.Rtable-cell--alert > h4,
.Rtable-cell--alert > h5,
.Rtable-cell--alert > h6 {
  color: white;
}
.Rtable-cell--head {
  background-color: slategrey;
  color: white;
}
.Rtable-cell--head > h1,
.Rtable-cell--head > h2,
.Rtable-cell--head > h3,
.Rtable-cell--head > h4,
.Rtable-cell--head > h5,
.Rtable-cell--head > h6 {
  color: white;
}
.Rtable-cell--foot {
  background-color: #b8c0c8;
}
/* Responsive
==================================== */
@media all and (max-width: 500px) {
  .Rtable--collapse {
    display: block;
  }
  .Rtable--collapse > .Rtable-cell {
    width: 90% !important;
  }
  .Rtable--collapse > .Rtable-cell--foot {
    margin-bottom: 1em;
  }
}
.no-flexbox .Rtable {
  display: block;
}
.no-flexbox .Rtable > .Rtable-cell {
  width: 90%;
}
.no-flexbox .Rtable > .Rtable-cell--foot {
  margin-bottom: 1em;
}

// Individual cell sizing
.Rtable-cell.Rtable-cell--1of1  { width: 100%; }
.Rtable-cell.Rtable-cell--5of6  { width: 83.33; }
.Rtable-cell.Rtable-cell--4of5  { width: 80%; }
.Rtable-cell.Rtable-cell--3of4  { width: 75%; }
.Rtable-cell.Rtable-cell--2of3  { width: 66.66%; }
.Rtable-cell.Rtable-cell--3of5  { width: 60%; }
.Rtable-cell.Rtable-cell--1of2  { width: 50%; }
.Rtable-cell.Rtable-cell--2of4  { width: 40%; }
.Rtable-cell.Rtable-cell--1of3  { width: 33.33%; }
.Rtable-cell.Rtable-cell--1of4  { width: 25%; }
.Rtable-cell.Rtable-cell--1of5  { width: 20%; }
.Rtable-cell.Rtable-cell--1of6  { width: 16.66%; }

.Rtable-cell--rowEnd {
  @media all and (max-width: @breakpoint) { margin-bottom: 1em; }
}

.hiddenLarge {
  @media all and (min-width: @breakpoint) {
    display: none;
  }
}
