
#profilePic {
  width: 80%;
  border-radius: 7%;
  margin-bottom: 10px;
}


.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  border-radius: 20px;
}

.text-section {
  text-align: left;
  padding-left: 20px;
  font-size: large;
}

p {
    font-family: "Franklin Gothic medium", sans-serif !important;
    font-size: 110%;
    text-align: left;
    /* padding: 10px; */
}

@media screen and (max-width: 1200px) {
    .text-section {
        text-align: left;
        font-size: 100%;
    }
}

h4 {
    font-family: "Franklin Gothic medium", sans-serif !important;
    text-align: left;
    /* padding: 0px; */
}

.profile {
    /* background-color : blue; */
    padding: 50px;
    width: 70%;
}

.profilewrapper {
    display: flex;
    flex-direction: row;
    height: inherit;
    border-radius: inherit;
}

.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  border-radius: 20px;
}
