.skills {
    margin: auto;
    padding: 50px;
    /* display: flex; */
    /* flex-direction: row; */
}

#skills ul {
    margin: auto;
}
#skills li {
    display: inline-block;
    margin: 8px;
    padding: 8px;
    font-family: "Trebuchet MS", serif !important;
    font-size: 1.2vw;
    color: #00bfff;
}

#skills td {
    padding: 10px;
    font-size: 1.1vw;
    color: #00bfff;
    font-family: "Trebuchet MS", serif !important;
}
